<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AdminMyPage.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="AdminEnquiries">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Enquiries</span>
                    </a>
                </li>
                <li>
                    <a href="AdminOrders">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Orders</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Order materials</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Order summation</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Print waybill</span>
                    </a>
                </li>
                <li>
                    <a href="AdminOrderHistory">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Order history</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="dash-content">
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Incoming Enquiries</span>
                </div>
                <div class="activity-data">
                    @foreach (var enquiry in Model)
                    {
                        @if (enquiry != null && !enquiry.isInProgress)
                        {
                            <div class="data">
                                <div class="data-item">
                                    <span class="data-title">Customer</span>
                                    @if (enquiry.Customer != null)
                                    {
                                        <span class="data-list">@enquiry.Customer.firstName @enquiry.Customer.lastName</span>
                                    }
                                    else
                                    {
                                        <span class="data-list">No customer information available</span>
                                    }
                                </div>

                         @*        <div class="data-item">
                                    <span class="data-title">Status</span>
                                    <span class="data-list">
                                        @if (enquiry.isInProgress)
                                        {
                                            <text>In progress</text>
                                        }
                                        else
                                        {
                                            <text>Not handled yet</text>
                                        }
                                    </span>
                                </div>
 *@
                                <div class="data-item">
                                    <span class="data-title">Type</span>
                                    <span class="data-list">
                                        @if (enquiry.isSpecial)
                                        {
                                            <text>Special</text>
                                        }
                                        else
                                        {
                                            <text>Order</text>
                                        }
                                    </span>
                                </div>

                                <div class="data-item">
                                    <form method="post" action="@Url.Action("ChangeStatus", "Admin")">
                                        <input type="hidden" name="enquiryId" value="@enquiry.EnquiryId" />
                                        
                                            @if (enquiry.isInProgress)
                                            {
                                                <text>In progress</text>
                                            }
                                            else
                                           
                                            {
                                            <button type="submit" name="status" value="toggle">
                                                <text>Mark as in progress</text>
                                            </button>

                                            }
                                    </form>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/AdminMyPage.js"></script>
</body>
</html>
