@model RegisterViewModel
@{
    ViewBag.Title = "Registrera en ny kund";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/LogIn.css" rel="stylesheet">
</head>

<body class="text-center login-page">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form class="form-signin" method="post" asp-action="Register">
        <h1 class="h3 mb-3 font-weight-normal">Register an account</h1>

        <input type="boxSpace" asp-for="UserName" class="form-control" placeholder="Användarnamn" />
        <input type="boxSpace" asp-for="firstName" class="form-control" placeholder="Förnamn" />
        <input type="boxSpace" asp-for="lastName" class="form-control" placeholder="Efternamn" />
        <input type="password" asp-for="PassWord" class="form-control" placeholder="Lösenord" />
        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Bekräfta lösenord" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2024</p>

    </form>
</body>
</html>
