@using System.Security.Claims

@model SendMessageViewModel

<!DOCTYPE html>
<html lang="en">
<head id="messageHead">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/Message.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/AdminMyPage.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<nav>
    <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a href="AdminEnquiries">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Enquiries</span>
                </a>
            </li>
            <li>
                <a href="AdminOrders">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Orders</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Material" asp-action="Material">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Order materials</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Order summation</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="ShippingBill" asp-action="OrderList">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Print waybill</span>
                </a>
            </li>
            <li>
                <a href="AdminOrderHistory">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Order history</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Message" asp-action="SendOffer">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Send offer</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<body class="text-center login-page">
    <form class="form-signin" name="contact_form" asp-controller="Message" asp-action="SendOffer" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Send Offer</h1>
       
        <div class="mb-5">
            <div class="col">
                <label for="sender">Your name: </label>
                @if (User.Identity.IsAuthenticated != null && User.Identity.IsAuthenticated)
                {
                    var username = User.FindFirst(ClaimTypes.Name)?.Value;

                    if (username != null)
                    {
                        <input type="text" class="form-control" asp-for="sender" value="@username" readonly>
                    }
                    else
                    {
                        <span class="text-danger">Error fetching username</span>
                    }
                }
                else
                {
                    <input type="text" class="form-control" asp-for="sender">
                    <span asp-validation-for="sender" class="text-danger"></span>
                }
            </div>
        </div>
        <div class="mb-5">
            <label for="recipientName">Recipient's name:</label>
            @if (ViewBag.Users != null)
            {
                <select class="form-control" asp-for="UserId">
                    <option value="">Select Receiver</option>
                    @foreach (var user in ViewBag.Users)
                    {
                        <option value="@user.Id">@user.firstName</option>
                    }
                </select>
            }
            else
            {
                <span class="text-danger">No users found</span>
            }
        </div>
        <div class="mb-5">
            <label for="text">Message</label>
            <textarea class="form-control" id="text" asp-for="messageText" rows="5"></textarea>
        </div>
        @if (TempData["MessageSent"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["MessageSent"]
            </div>
        }

        <button type="submit" class="btn btn-primary px-4 btn-lg">Send message</button>
    </form>

</body>
</html>

