@model Product
<form asp-action="AddProduct" asp-controller="Product" method="post" enctype="multipart/form-data">
    <h2>Add New Product</h2>
    <table class="table table-light">
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="productName">Name:</label>
                    <input asp-for="productName" class="form-control" />
                    <span asp-validation-for="productName" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="description">Description:</label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="size">Size:</label>
                    <input asp-for="size" class="form-control" />
                    <span asp-validation-for="size" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="price">Price:</label>
                    <input asp-for="price" class="form-control" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="ImagePath">Image:</label>
                    <input type="file" name="ImagePath" class="form-control-file" />
                    
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">Lägg till</button>
            </td>
        </tr>
    </table>
</form>
