@model Material;

@{
    ViewData["Title"] = "Add New Material";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Add New Material</h2>
            <form asp-action="AddNewMaterial" asp-controller="Material" method="post">
                <div class="form-group">
                    <label for="name">Material:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="supplier">Supplier:</label>
                    <input type="text" class="form-control" id="supplier" name="supplier" required>
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" class="form-control" id="price" name="price" required>
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="text" class="form-control" id="quantity" name="quantity" required>
                </div>

                <button type="submit" class="btn btn-secondary mb-3">Submit</button>
            </form>
        </div>
    </div>
</div>
