     @model List<Product>



<table class="table-bordered">
  
    <tbody>

        @foreach (var prod in Model)
        {
            <tr>
                
                <td>@prod.productName</td>
                <td>@prod.description</td>
                <td>@prod.size</td>
            </tr>
        }
    </tbody>

</table>
<a asp-controller="Products" asp-action="AddProducts">Lägg till ett ny produkt</a>
