@model ShippingBillViewModel

@* PrintShippingBill.cshtml
 *@<!DOCTYPE html>
<html>
<head>
    <title>Shipping Bill</title>
    <style>
        body {
            font-family: 'Arial';
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Shipping Bill</h1>
    <h2>Product Code: 6504 00 00 </h2>
    <h2>Customer Name: @Model.customerFullName</h2>
    <h2>Address Details: @Model.addressDetails</h2>
</body>
</html>
