.product-container {
    margin-bottom: 70px; /* Lägg till lite extra mellanrum under produktfönstret */
}

.pulse-button {
    position: relative; /* Relativ positionering för att följa dokumentflödet */
    top: 10px; /* Lyft ner knappen mer */
    background-color: darkblue; /* Röd bakgrund */
    color: white;
    padding: 10px 25px; /* Mindre storlek på knappen */
    text-align: center;
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 18px; /* Lite mindre textstorlek */
    font-family: 'Playfair Display', serif;
    border: none;
    border-radius: 8px;
    z-index: 1; /* Sätt en z-index för att knappen ska vara överst */
    animation: pulse 0.8s infinite; /* Pulsanimation hela tiden, lite snabbare */
}

/* Pulsanimation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05); /* Lätt ökad storlek under pulsen */
    }

    100% {
        transform: scale(1);
    }
}

/* Pulsanimation vid hover */
.pulse-button:hover {
    animation: pulse 0.5s infinite; /* Snabbare puls vid hover */
    text-decoration: none; /* Ta bort understreck under länken */
    color: white; /* Ändra textfärg till vit */
    box-shadow: 0 0 10px 5px darkblue; /* Låt knappen skina rött vid hover */
}