body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    max-height: calc(100vh - 60px); 
    overflow-y: auto;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    max-height: 4000px;
    overflow-y: auto; 
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

    .product-card:hover {
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    }

.product-image {
    max-width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-description {
    color: #666;
    margin-bottom: 15px;
}

.product-details {
    color: #888;
    margin-bottom: 15px;
}

.product-price {
    font-size: 20px;
    color: #007bff;
    font-weight: bold;
}

.btn {
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }
     
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.admin-panel {
    position: absolute;
    margin-left: 1200px;
    z-index: 1000;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

/* Full-width carousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
    width: 100%;
    height: 80vh;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 50px;
}

.logout-form {
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 280px;
}

.login-form {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 280px;
}

.logout-form button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

    .logout-form button:hover, .logout-form button:focus {
        color: #0056b3; 
        text-decoration: underline;
    }

