@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.header {
    margin-top: 0;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0; /* Tar bort nedre marginal för att anpassa sig till att det inte finns någon footer */
}

.navbar {
    padding: 8px 14px;
}

.logout-form {
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 280px;
}

.login-form {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 280px;
}
