<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AdminMyPage.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Customer Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="CustomerMessages">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Incoming messages</span>
                    </a>
                </li>
                <li>
                    <a href="CustomerMyOrders">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">My orders</span>
                    </a>
                </li>
                <li>
                    <a href="CustomerOrderHistory">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Order history</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="dash-content">
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Incoming Messages</span>
                </div>
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">From</span>
                        <span class="data-list">(Namn på Admin)</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">(Admins email)</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Type</span>
                        <span class="data-list">Special</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Express</span>
                        <span class="data-list">Yes</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/AdminMyPage.js"></script>
</body>
</html>