<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/CustomerOrderForm.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap" rel="stylesheet">
</head>
<section class="order-form m-4">
    <div class="container pt-4">
        <div class="row">
            <div class="col-12 px-4">
                <h1>Design your own hat and let your style shine!</h1>


                <hr class="mt-1" />
                <span>Hat Details</span>

                <hr class="mt-1" />


                <div class="row mt-3 mx-4">
                    <div class="col-12">
                    </div>
                    <div class="col-12">
                        <div data-mdb-input-init class="form-outline">
                            <label class="form-label" for="form5">Size</label>
                            <input type="text" id="form5" class="form-control order-form-input" placeholder="Specify perimeter in cm"/>
                        </div>

                        <div class="col-sm-6 mt-2 pe-sm-2">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="form9">Color</label>

                                <input type="text" id="form9" class="form-control order-form-input" />
                            </div>
                        </div>

                        <div class="col-sm-6 mt-2 ps-sm-0">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="form10">Material</label>
                               
                                <select id="form200" class="form-control order-form-input">
                                  <option value="option1">Choose material...</option>
                                  <option value="option2">Alternativ</option>
                                  <option value="option3">Alternativ</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-2 ps-sm-0">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="">Text</label>
                                <input type="text" id="form10" class="form-control order-form-input" />

                            </div>
                        </div>
                        <div class="col-sm-6 mt-2 ps-sm-0">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="form10">Font</label>
                               
                                 <select id="form200" class="form-control order-form-input">
                                  <option value="option1">Choose font...</option>
                                  <option value="option2">Alternativ</option>
                                  <option value="option3">Alternativ</option>
                                </select> 

                            </div>
                        </div>
                        <div class="col-sm-6 mt-2 ps-sm-0">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="form10">Additional Requests</label>
                                <input type="text" id="form40" class="form-control order-form-input" />

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="profileImageFile">Profile Picture:</label>
                            <input type="file" id="profileImageFile" name="profileImageFile" class="form-control-file" accept="image/*" />
                        </div>

                        <div class="row mt-3 mx-4">
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                    <label class="form-check-label" for="flexCheckDefault">Do you have the permission to build upon a finished product</label>
                                </div>
                            </div>
                        </div>

                    </div>



                    <hr class="mt-1" />
                </div>
                <span>Customer Information</span>
                <hr class="mt-1" />


                <div class="col-12">
                    <div class="row mx-4">
                        <div class="col-sm-6">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="form1">Firstname</label>
                                <input type="text" id="form1" class="form-control order-form-input" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="form2">Lastname</label>
                                <input type="text" id="form2" class="form-control order-form-input" />
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 mx-4">
                        <div class="col-12">
                            <label class="form-label" for="form1">Phone Number</label>
                            <input type="text" id="form1" class="form-control order-form-input" />
                        </div>
                        <div class="col-12">
                            <div data-mdb-input-init class="form-outline">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 mx-4">
                        <div class="col-12">
                            <label class="form-label" for="form1">Email</label>
                            <input type="text" id="form1" class="form-control order-form-input" />
                        </div>
                        <div class="col-12">
                            <div data-mdb-input-init class="form-outline">
                            </div>
                        </div>
                    </div>
                    <hr class="mt-1" />

                    <span>Adress Information</span>
                    <hr class="mt-1" />



                    <div class="row mt-3 mx-4">
                        <div class="col-12">
                        </div>
                        <div class="col-12">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="form5">Street Address</label>
                                <input type="text" id="form5" class="form-control order-form-input" />
                            </div>

                            <div class="col-sm-6 mt-2 pe-sm-2">
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="form9">Postal Code</label>
                                    <input type="text" id="form9" class="form-control order-form-input" />
                                </div>
                            </div>
                            <div class="col-sm-6 mt-2 ps-sm-0">
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="form10">Country</label>
                                    <input type="text" id="form10" class="form-control order-form-input" />
                                </div>
                            </div>
                        </div>
                        <hr class="mt-1" />





                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="button" id="btnSubmit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary d-block mx-auto btn-submit">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</section>

