<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">

                <div class="invoice p-5">

                    <h5>Order confirmation message:</h5>
                    <h1>Thank You!</h1>
                    <span>
                        <h4>We will process your order as soon as possible!</h4>
                    </span>

                    <p class="font-weight-bold mb-0">Thanks for choosing us!</p>
                    <span>Otto and Judiths! </span>


                </div>


            </div>

        </div>

    </div>

</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Home</a>
