<p>Order confirmation message:</p>
<br />
<h1>Thank You!</h1>
<h4>We will process your order as soon as possible!</h4>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Home</a>
